.vid-container {
    /* max-width: fit-content; */
    /* max-height: fit-content; */

    display: flex;
    flex-direction: column;
    height: 100vh;
}

video {
    height: 100%;
    height: auto;
    max-height: 100%;
}
