.vid-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

video {
    height: 100%;
    height: auto;
    max-height: 100%;
}

video::cue {
    background-color: black;
    color: rgb(255, 255, 255);
    font-size: 5rem;
}